*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registry-section{
    background-image: linear-gradient(
        to bottom,
        rgba(245,246,252,0.52),
        #b0dcff

    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container{
    width: 500px;
    max-width: 100%;
    background-color: #ffffff85;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 5px 16px 0 rgba(50, 50, 50, 0.75);
}

.form-header{
    background-color: #0b6ab5;
    padding: 20px 40px;
    text-align: center;
    color:#fff;
    border-bottom: 5px solid #fff;
}

.form{
    padding: 25px 40px;
}

.form-box{
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.form-box input{
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
}

.form-box input:focus{
    outline-color: #1e9ba3;
}

.form-box .error-text{
    color: #ca3434;
    visibility: hidden;
}

.form button{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #0b6ab5;
    border: 1px solid #21507c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    font-family: inherit;
    text-transform: uppercase;
}

.form button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.form button:disabled{
    background-color: #82a0a2;
    border: 1px solid #82a0a2;
    color: lightgrey;
}

/* Clases que identifican el error de validación */
.form-box.form-error input{
    border-bottom: 2px solid red;
}

.form-box.form-error .error-text{
    visibility:visible;
}
/*----------------------------------*/

/* Clase que identifica la correcta validación */
.form-box.form-success input{
    border-bottom: 2px solid #1e9ba3;
}